### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchaseDataDF = pd.read_csv(file_to_load)

In [17]:
# Define variables to use in report

totalPlayers = 0

# Purchasing Analysis (Total)
numUniqueItems = 0
totalAvgPrice = 0
totalPurchases = 0
totalRevenue = 0

# Gender Demographics
numMales = 0
percentMales = 0
numFemales = 0
percentFemales = 0
numOther = 0
percentOther = 0

# Purchasing Analysis (Gender)
malePurchases = 0
maleAvgPurchaseTotal = 0
maleAvgPrice = 0
maleTotalPurchaseValue = 0

femalePurchases = 0
femaleAvgPurchaseTotal = 0
femaleAvgPrice = 0
femaleTotalPurchaseValue = 0

otherPurchases = 0
otherAvgPurchaseTotal = 0
otherAvgPrice = 0
otherTotalPurchaseValue = 0

# Age Demographics
ageBins = []

In [2]:
purchaseDataDF.head()

# purchaseDataDF.count()

# purchaseDataDF.dtypes

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchaseDataDF.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [18]:
# Find total number of players
totalPlayers = purchaseDataDF['SN'].nunique()
totalPlayers

576

In [5]:
purchaseDataDF.nunique()

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        183
Item Name      179
Price          145
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Set values for column variables
numUniqueItems = purchaseDataDF["Item Name"].nunique()
totalAvgPrice = purchaseDataDF['Price'].mean()
totalPurchases = purchaseDataDF['Purchase ID'].count()
totalRevenue = purchaseDataDF['Price'].sum()

# Create Summary DataFrame
purchasingAnalysisDF = pd.DataFrame({'Unique Items': [numUniqueItems],
                                     'Average Price': [totalAvgPrice],
                                     'Total Purchases': [totalPurchases],
                                     'totalRevenue': [totalRevenue]
                                    })

purchasingAnalysisDF

   Unique Items  Average Price  Total Purchases  totalRevenue
0           179       3.050987              780       2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [20]:
# Find Male total users and percentage of total users
condMale = purchaseDataDF['Gender'] == "Male"
numMales = purchaseDataDF.loc[condMale, :]['SN'].nunique()
percentMales = round((numMales / totalPlayers) * 100, 2)

print(numMales, percentMales)

# Repeat above for other genders
condFemale = purchaseDataDF['Gender'] == "Female"
numFemales = purchaseDataDF.loc[condFemale, :]['SN'].nunique()
percentFemales = round((numFemales / totalPlayers) * 100, 2)

condOther = purchaseDataDF['Gender'] == "Other / Non-Disclosed"
numOther = purchaseDataDF.loc[condOther, :]['SN'].nunique()
percentOther = round((numOther / totalPlayers) * 100, 2)

# Create new DataFrame with Gender Demographics
genderDF = pd.DataFrame({'Users': [numMales, numFemales, numOther],
                         'Percent of Total Users': [percentMales, percentFemales, percentOther]
                        },
                        index=['Male', 'Female', 'Other / Non-Disclosed']
                       )
genderDF

484 84.03

                       Users  Percent of Total Users
Male                     484                   84.03
Female                    81                   14.06
Other / Non-Disclosed     11                    1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
# Create gender-specific DF
maleDF = purchaseDataDF.loc[condMale, :]
# Find gender-specific total purchases, total purchase value, average purchase price, and average purchase total per person
malePurchases = maleDF['Purchase ID'].count()
maleTotalPurchaseValue = maleDF['Price'].sum()    
maleAvgPrice = round(maleTotalPurchaseValue / malePurchases, 2)
maleAvgPurchaseTotal = round(malePurchases / numMales, 2)

# Repeat above for other genders
femaleDF = purchaseDataDF.loc[condFemale, :]
femalePurchases = femaleDF['Purchase ID'].count()
femaleTotalPurchaseValue = femaleDF['Price'].sum()    
femaleAvgPrice = round(femaleTotalPurchaseValue / femalePurchases, 2)
femaleAvgPurchaseTotal = round(femalePurchases / numFemales, 2)

otherDF = purchaseDataDF.loc[condOther, :]
otherPurchases = otherDF['Purchase ID'].count()
otherTotalPurchaseValue = otherDF['Price'].sum()    
otherAvgPrice = round(otherTotalPurchaseValue / otherPurchases, 2)
otherAvgPurchaseTotal = round(otherPurchases / numOther, 2)


# Create new DF with gender purchasing analysis
genderAnalysisDF = pd.DataFrame({'Purchase Count': [malePurchases, femalePurchases, otherPurchases],
                         'Total Purchase Value': [maleTotalPurchaseValue, femaleTotalPurchaseValue, otherTotalPurchaseValue],
                         'Average Purchase Price': [maleAvgPrice, femaleAvgPrice, otherAvgPrice],
                         'Average Purchase Total per Person': [maleAvgPurchaseTotal, femaleAvgPurchaseTotal, otherAvgPurchaseTotal]
                        },
                        index=['Male', 'Female', 'Other / Non-Disclosed']
                       )


genderAnalysisDF.head(10)

,Purchase Count,Total Purchase Value,Average Purchase Price,Average Purchase Total per Person
Male,652,1967.64,3.02,1.35
Female,113,361.94,3.20,1.40
Other / Non-Disclosed,15,50.19,3.35,1.36

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
# use describe function to help determine reasonable age bin cutoffs
purchaseDataDF.describe()

ageBins = [0, 10, 15, 20, 25, 35, 45]
ageLabels = ['10 and Under', '11-15', '16-20', '21-25', '26-35', '36-45']
             
# Categorize users based on created age bins nad put into copied DF
newPurchaseDF = purchaseDataDF.copy()             
newPurchaseDF['Age Range'] = pd.cut(newPurchaseDF['Age'], ageBins, labels=ageLabels)

In [16]:
# Find age-specific total users and percentage of total users
cond10 = newPurchaseDF['Age Range'] == '10 and Under'
num10 = newPurchaseDF.loc[cond10, :]['SN'].nunique()
percent10 = round((num10 / totalPlayers) * 100, 2)

# Repeat above for each age range
cond15 = newPurchaseDF['Age Range'] == '11-15'
num15 = newPurchaseDF.loc[cond15, :]['SN'].nunique()
percent15 = round((num15 / totalPlayers) * 100, 2)

cond20 = newPurchaseDF['Age Range'] == '16-20'
num20 = newPurchaseDF.loc[cond20, :]['SN'].nunique()
percent20 = round((num20 / totalPlayers) * 100, 2)

cond25 = newPurchaseDF['Age Range'] == '21-25'
num25 = newPurchaseDF.loc[cond25, :]['SN'].nunique()
percent25 = round((num25 / totalPlayers) * 100, 2)

cond35 = newPurchaseDF['Age Range'] == '26-35'
num35 = newPurchaseDF.loc[cond35, :]['SN'].nunique()
percent35 = round((num35 / totalPlayers) * 100, 2)

cond45 = newPurchaseDF['Age Range'] == '36-45'
num45 = newPurchaseDF.loc[cond45, :]['SN'].nunique()
percent45 = round((num45 / totalPlayers) * 100, 2)

# Create new DataFrame with Age Demographics
ageDF = pd.DataFrame({'Users': [num10, num15, num20, num25, num35, num45],
                         'Percent of Total Users': [percent10, percent15, percent20, 
                                                    percent25, percent35, percent45]
                        },
                        index=['Aged 10 and Under', 'Aged 11-15', 'Aged 16-20', 
                               'Aged 21-25', 'Aged 26-35', 'Aged 36-45']
                    )
ageDF

                   Users  Percent of Total Users
Aged 10 and Under     24                    4.17
Aged 11-15            41                    7.12
Aged 16-20           150                   26.04
Aged 21-25           232                   40.28
Aged 26-35            96                   16.67
Aged 36-45            33                    5.73

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Create function to pass age ranges through
def ageAnalysis(DF, cond, Purchases, TotalPurchaseValue, AvgPrice, AvgPurchaseTotal, num):
    # Create age range specific DF
    DF = newPurchaseDF.loc[cond, :]
    # Find age range specific total purchases, total purchase value, average purchase price, and average purchase total per person
    Purchases = DF['Purchase ID'].count()
    TotalPurchaseValue = DF['Price'].sum()
    AvgPrice = round(TotalPurchaseValue / Purchases, 2)
    AvgPurchaseTotal = round(Purchases / num, 2)
    return print(Purchases, TotalPurchaseValue, AvgPrice, AvgPurchaseTotal)

# Call ageAnalysis function for each age range
ageAnalysis(under10DF, condUnder10, under10Purchases, under10TotalPurchaseValue, under10AvgPrice, under10AvgPurchaseTotal, numUnder10)
ageAnalysis(under10DF, condUnder10, under10Purchases, under10TotalPurchaseValue, under10AvgPrice, under10AvgPurchaseTotal, numUnder10)
ageAnalysis(under10DF, condUnder10, under10Purchases, under10TotalPurchaseValue, under10AvgPrice, under10AvgPurchaseTotal, numUnder10)
ageAnalysis(under10DF, condUnder10, under10Purchases, under10TotalPurchaseValue, under10AvgPrice, under10AvgPurchaseTotal, numUnder10)
ageAnalysis(under10DF, condUnder10, under10Purchases, under10TotalPurchaseValue, under10AvgPrice, under10AvgPurchaseTotal, numUnder10)
ageAnalysis(under10DF, condUnder10, under10Purchases, under10TotalPurchaseValue, under10AvgPrice, under10AvgPurchaseTotal, numUnder10)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame